<!DOCTYPE html>
<html lang="pt-BR" >

<head>
  <meta charset="UTF-8">
  <title>Form Submit VueJS</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css'>
  
</head>

<body background="fundo-formulario.jpg">

  <script src="js/vue.js"></script> 

  <div class="hero is-fullheight is-info is-bold">
	<div class="hero-body">
	  <div class="container">
	  	<div class="content">
		  	<br>
		  	<div id="men" class="box"> 
		  		<ul>
				    <li>
				         <h2>Contato</h2>		         
				    </li>		    
				</ul>
		      
			      {{log}}
			      <form class="contact_form" v-on:submit="sub" action="#" id="signup-form" method="post" name="contact_form">
			      	<label class="label">Name</label>
			      	<p><input type="text" v-model="nome" class="input" name="name" placeholder="Nome" required/></p>
			      	<label class="label">Telefone</label>
			        <p><input type="text" v-model="telefone" class="input" name="fone" placeholder="62988888888" required/></p>
			        <label class="label">Email</label>
			        <p><input type="email" name="email" v-model="email" class="input" name="email" placeholder="exemplo@teste.com" required/></p>
			        <!-- <p><button type="submit">Salvar</button></p> -->
			         <div class="field has-text-right">
				        <button type="submit" class="button is-danger">Salvar</button>
				      </div>
			       <!--  <p><input type="submit" class="button is-danger" value="Cadastrar"/></p> -->
			        
			      </form>

			      
			  </div>
		  </div> 

	  </div>
	 </div>
	 <footer>
		  <p>Posted by: Renato Lucena</p>
		  <p>Contact information: <a href="mailto:cpdrenato@gmail.com">
		  cpdrenato@gmail.com</a>.</p>
		</footer>
	</div>

    <script  src="js/index.js"></script>
</body>

</html>
